.table-container {
  width: 100%;
  overflow-x: auto;
}
.transaction-table {
  border-collapse: collapse;
  width: 100%;
  min-width: 500px;
}

.transaction-table td,
.transaction-table th {
  border: 1px solid #ddd;
  padding: 8px;
}
.transaction-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.transaction-table tr:hover {
  background-color: #ddd;
}

.transaction-table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #6f6fef;
  color: white;
}

.filter-container {
  display: flex;
  align-items: flex-end;
  margin-bottom: 32px;
}
.label {
  font-size: 12px;
  opacity: 0.5;
}
.wrap-inp {
  width: 200px;
  margin-right: 24px;
}
.wrap-inp input {
  width: 100%;
  height: 30px;
}
.filter-btn {
  width: 200px;
  background-color: #6f6fef;
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
  height: 35px;
  border: none;
}
.filter-btn:hover {
  background-color: #5757ea;
  cursor: pointer;
}
@media only screen and (max-width: 786px) {
  .wrap-inp {
    margin-right: 8px;
  }
}
